# Webscraping Finance

Importer les modules nécessaires :

In [1]:
import requests
import bs4
import pandas as pd
import re
from datetime import datetime
import mysql.connector

Fonction de création de Dataframe en utilisant BeautifulSoup sur Boursorama

In [2]:
def stock_data(stock_name, table_class, index):
    #créer l'URL
    token = "https://www.boursorama.com/bourse/indices/cours/"
    #requête à partir de l'URL
    response = requests.get(str(token + stock_name))
    #BeautifulSoup sur la requête
    soup = bs4.BeautifulSoup(response.text, 'html.parser')
    
    #obtenir le nom du stock en parsant le titre de la page
    stock_name2 = soup.title.string
    stock_name2 = re.split("Cours|,", stock_name2)[0]
    
    #trouver toutes les tables d'une certaine classe
    table_box = soup.find_all("table", {"class": table_class})
    #transformer la liste des tables en liste de dataframes
    data_table = pd.read_html(str(table_box))
    #réduire la liste à la table désirée à partir de l'index donné en argument
    data_table = data_table[index]
    
    #remplacer l'index par la colonne des titres
    data_table.index = data_table[data_table.columns[0]]
    data_table = data_table.drop(data_table.columns[0], axis=1)
    
    #transposer la dataframe pour avoir les titres en colonnes et les dates en index
    data_table = data_table.T
    
    #rajouter une colonne avec le vrai nom de l'indice
    data_table["Indice"] = stock_name2
    
    #rajouter une colonne date
    data_table["Date"] = data_table.index
    
    return data_table

Liste des noms utilisés en URL :

In [3]:
stock_name_list = ["1rPCAC", "1rPPX4", "2zPMS190", "5pDAX", "%24INX", "%24INDU", "2cSX5E", "UKX.L", "FF55-IBEX", "%24COMPX", "1xN225"]

Itération de la fonction créée sur les noms en URL, récupération d'une liste de Dataframes :

In [4]:
stock_list = list()
for stock in stock_name_list:
    stock_df = stock_data(stock, "c-table c-table--generic", -1)
    stock_list.append(stock_df)

Concaténation des Dataframes :

In [5]:
joined_table = pd.concat(stock_list)

joined_table.index = range(len(joined_table))

In [6]:
for index in joined_table.index:
    joined_table["Der."][index] = joined_table["Der."][index].replace(" ", "")
    joined_table["Var."][index] = joined_table["Var."][index].replace("%", "")
    joined_table["Ouv."][index] = str(joined_table["Ouv."][index]).replace(" ", "")
    joined_table["+Haut"][index] = str(joined_table["+Haut"][index]).replace(" ", "")
    joined_table["+Bas"][index] = str(joined_table["+Bas"][index]).replace(" ", "")
    joined_table["Vol."][index] = str(joined_table["Vol."][index]).replace(" ", "")
    day = str(joined_table["Date"][index])[:2]
    month = str(joined_table["Date"][index])[3:]
    french_date = day + "-" + month
    english_date = "2021-" + month + "-" + day
    joined_table["Date"][index] = joined_table["Date"][index].replace(french_date, english_date)
    
joined_table["Der."] = joined_table["Der."].astype(float)
joined_table["Var."] = round((joined_table["Var."].astype(float) / 100), 4)
joined_table["Ouv."] = joined_table["Ouv."].astype(float)
joined_table["+Haut"] = joined_table["+Haut"].astype(float)
joined_table["+Bas"] = joined_table["+Bas"].astype(float)
joined_table["Vol."] = joined_table["Vol."].astype(float)

In [7]:
#joined_table = joined_table.drop(columns=["Vol."])

In [8]:
joined_table = joined_table.rename(columns={"Der.": "Dernier", "Var.": "Variation", "Ouv.": "Ouverture", "+Haut": "Haut", "+Bas": "Bas", "Vol.": "Volume"})

In [9]:
joined_table = joined_table.fillna(0)

In [10]:
display(joined_table)
display(joined_table.dtypes)

Unnamed: 0,Dernier,Variation,Ouverture,Haut,Bas,Volume,Indice,Date
0,6035.970,-0.0017,6069.090,6089.200,6018.550,3434.0,CAC 40,2021-03-15
1,6055.430,0.0032,6050.400,6061.190,6034.760,3792.0,CAC 40,2021-03-16
2,6054.820,-0.0001,6048.310,6062.360,6037.250,3454.0,CAC 40,2021-03-17
3,6062.790,0.0013,6076.210,6082.920,6044.320,3878.0,CAC 40,2021-03-18
4,6010.740,-0.0086,6021.130,6047.650,5983.610,2956.0,CAC 40,2021-03-19
5,4754.330,-0.0019,4780.460,4795.800,4742.480,0.0,SBF 120,2021-03-15
6,4771.780,0.0037,4766.860,4777.560,4757.280,0.0,SBF 120,2021-03-16
7,4771.370,-0.0001,4766.680,4775.730,4756.420,0.0,SBF 120,2021-03-17
8,4775.180,0.0008,4789.490,4795.500,4763.440,0.0,SBF 120,2021-03-18
9,4736.700,-0.0081,4743.480,4762.780,4714.320,0.0,SBF 120,2021-03-19
10,14266.160,0.0004,14321.870,14362.590,14253.300,0.0,CAC Mid & Small,2021-03-15
11,14354.540,0.0062,14344.620,14392.290,14326.380,0.0,CAC Mid & Small,2021-03-16
12,14346.610,-0.0006,14355.150,14382.320,14275.250,0.0,CAC Mid & Small,2021-03-17
13,14327.770,-0.0013,14426.150,14435.260,14325.190,0.0,CAC Mid & Small,2021-03-18
14,14279.290,-0.0034,14185.250,14297.320,14180.900,0.0,CAC Mid & Small,2021-03-19
15,14461.420,-0.0028,14504.490,14572.240,14409.350,0.0,DAX,2021-03-15
16,14557.580,0.0066,14519.720,14601.790,14511.300,0.0,DAX,2021-03-16
17,14596.610,0.0027,14565.290,14601.630,14539.700,0.0,DAX,2021-03-17
18,14791.300,0.0133,14673.720,14804.010,14669.950,0.0,DAX,2021-03-18
19,14634.400,-0.0096,14697.260,14747.560,14563.210,0.0,DAX,2021-03-19
20,3968.940,0.0065,3942.960,3970.080,3923.540,0.0,S&P 500 INDEX,2021-03-15
21,3962.710,-0.0016,3973.590,3981.040,3953.440,0.0,S&P 500 INDEX,2021-03-16
22,3974.120,0.0029,3949.570,3983.870,3935.740,0.0,S&P 500 INDEX,2021-03-17
23,3915.460,-0.0148,3953.500,3969.620,3910.860,0.0,S&P 500 INDEX,2021-03-18
24,3907.470,-0.0020,3913.140,3916.330,3886.750,0.0,S&P 500 INDEX,2021-03-19
25,32953.460,0.0053,0.000,0.000,0.000,0.0,Dow Jones Industrial Average,2021-03-15
26,32825.950,-0.0039,0.000,0.000,0.000,0.0,Dow Jones Industrial Average,2021-03-16
27,33015.370,0.0058,0.000,0.000,0.000,0.0,Dow Jones Industrial Average,2021-03-17
28,32862.300,-0.0046,0.000,0.000,0.000,0.0,Dow Jones Industrial Average,2021-03-18
29,32674.940,-0.0057,0.000,0.000,0.000,0.0,Dow Jones Industrial Average,2021-03-19
30,3829.840,-0.0009,3840.850,3857.070,3818.200,0.0,DJ Euro Stoxx 50,2021-03-15
31,3850.960,0.0055,3842.330,3856.780,3838.220,0.0,DJ Euro Stoxx 50,2021-03-16
32,3849.740,-0.0003,3846.580,3853.660,3838.430,0.0,DJ Euro Stoxx 50,2021-03-17
33,3867.540,0.0046,3856.760,3874.910,3852.250,0.0,DJ Euro Stoxx 50,2021-03-18
34,3839.870,-0.0072,3851.610,3861.650,3833.740,0.0,DJ Euro Stoxx 50,2021-03-19
35,6749.700,-0.0017,6761.470,6804.910,6723.670,0.0,FTSE 100,2021-03-15
36,6803.610,0.0080,6749.700,6812.780,6749.640,0.0,FTSE 100,2021-03-16
37,6762.670,-0.0060,6803.610,6805.730,6753.820,0.0,FTSE 100,2021-03-17
38,6779.680,0.0025,6762.670,6791.760,6740.530,0.0,FTSE 100,2021-03-18
39,6714.490,-0.0096,6779.680,6779.680,6693.730,0.0,FTSE 100,2021-03-19
40,8635.400,-0.0011,8689.900,8740.100,8617.600,210887181.0,IBEX 35,2021-03-15
41,8657.700,0.0026,8679.400,8717.600,8617.800,209943732.0,IBEX 35,2021-03-16
42,8599.500,-0.0067,8652.100,8659.100,8570.100,173236965.0,IBEX 35,2021-03-17
43,8624.600,0.0029,8632.600,8658.800,8587.100,237338405.0,IBEX 35,2021-03-18
44,8502.300,-0.0142,8560.100,8591.200,8512.700,173673788.0,IBEX 35,2021-03-19
45,13459.708,0.0105,13323.472,13460.349,13272.499,0.0,NASDAQ Composite,2021-03-15
46,13471.567,0.0009,13523.173,13620.711,13397.085,0.0,NASDAQ Composite,2021-03-16
47,13525.202,0.0040,13336.915,13595.001,13272.688,0.0,NASDAQ Composite,2021-03-17
48,13116.168,-0.0302,13349.203,13384.456,13101.924,0.0,NASDAQ Composite,2021-03-18
49,13184.030,0.0052,0.000,13188.692,0.000,0.0,NASDAQ Composite,2021-03-19
50,29766.970,0.0017,29804.500,29884.730,29670.310,0.0,Nikkei 225,2021-03-15
51,29921.090,0.0052,29770.390,30026.400,29755.470,0.0,Nikkei 225,2021-03-16
52,29914.330,-0.0002,29836.830,29984.970,29825.160,0.0,Nikkei 225,2021-03-17
53,30216.750,0.0101,30148.480,30485.000,30041.500,0.0,Nikkei 225,2021-03-18
54,29792.050,-0.0141,29904.570,30049.770,29621.220,0.0,Nikkei 225,2021-03-19

Unnamed: 0
Dernier      float64
Variation    float64
Ouverture    float64
Haut         float64
Bas          float64
Volume       float64
Indice        object
Date          object
dtype: object

Sauvegarde en fichier .csv :

In [11]:
joined_table.to_csv("boursorama.csv", sep=";", index=False)

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  port="3307",
  database="boursorama"
)

InterfaceError: 2013: Lost connection to MySQL server during query

In [ ]:
mycursor = mydb.cursor()

In [ ]:
for index in joined_table.index:
    sql = "INSERT INTO cours (Dernier, Variation, Ouverture, Haut, Bas, Volume, Indice, Date) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    val = (float(joined_table["Dernier"].iloc[index]), float(joined_table["Variation"].iloc[index]), float(joined_table["Ouverture"].iloc[index]), float(joined_table["Haut"].iloc[index]), float(joined_table["Bas"].iloc[index]), float(joined_table["Volume"].iloc[index]), str(joined_table["Indice"].iloc[index]), joined_table["Date"].iloc[index])
    mycursor.execute(sql, val)
    mydb.commit()